
  
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <!-- Logo (en este caso es texto, puedes cambiarlo por una imagen) -->
        <img class="navbar-brand" src="assets/company.jpg" alt="Logo" style="height: 80px;">
        
        <!-- Botón para hamburguesa en dispositivos móviles -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Los enlaces de navegación -->
        <div class="collapse navbar-collapse" id="navbarNav">

            <a class="nav-link item" href="/">Home</a>

            <li class="nav-item dropdown">
              <a class="nav-link item" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Clientes
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/clienteNuevo">Nuevo Cliente</a></li>
                <li><a class="dropdown-item" href="/buscarClientes">Buscar Cliente</a></li>
                <li><a class="dropdown-item" href="#">Historial Cliente</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link item" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Planillas
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/cargarPlanilla">Cargar Planilla</a></li>
                <li><a class="dropdown-item" href="#">Editar Planilla</a></li>
                <li><a class="dropdown-item" href="#">Ver Planilla</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link item" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Balances
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Opcion 1</a></li>
                <li><a class="dropdown-item" href="#">Opcion 2</a></li>
                <li><a class="dropdown-item" href="#">Opcion 3</a></li>
                <li><a class="dropdown-item" href="#">Opcion 4</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link item" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Productos
              </a>
            </li>
          
        </div>
      </div>
    </nav>