/* header */

img {
  height: 70vh;
  border-radius: 50%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #4CAF50;
}
.navbar-brand {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: white !important;
  margin-right: 40%
}
.navbar-nav .nav-link {
  color: white !important;
  font-size: 1.1rem;
}

li.nav-item, .dropdown-item {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

li a.dropdown-item:hover {
  background-color: #348136;
}

.dropdown-menu {
  display: none;
  opacity: 0;
  max-height: 0;
  border: none;
  background-color: white;
  overflow: hidden;
  text-align: center;
  min-width: 11vw;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.nav-item:hover .dropdown-menu {
  display: block;
  opacity: 1;
  max-height: max-content;
}

/* botones header */

.nav-link.item {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  text-align: center;
  outline: 0;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 25px 15px;
  box-sizing: border-box;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: transparent;
}

.dropdown-item {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .item:hover {
  background-color: #348136;
}

/* footer */
footer {
  color: black;
  text-align: center;
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #4CAF50;
}